<%= form_for(@location, html: { class: "form-horizontal" }) do |f| %>

<fieldset>
  <div class="row-fluid">

    <div class="span5">

      <div class="control-group">
        <%= f.label :address, "Address", class: "control-label" %>
        <div class="controls">
          <%= f.text_field :address, class: "span12" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :location_name, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :location_name, class: "span12" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :phone_number, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :phone_number, class: "span12" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :district, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :district, class: "span12" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :postcode, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :postcode, class: "span12" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :city, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :city, class: "span12" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :country, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :country, class: "span12" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :lat, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :lat, class: "span12" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :lng, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :lng, class: "span12" %>
        </div>
      </div>
      <div class="control-group pull-right">
        <%= f.submit "Save Location", class: 'btn' %>
      </div>
    </div>

    <div class="span7">
      <% if @location.errors.any? %>
        <div class="notice">
          <h3>Errors</h2>
          <ul>
          <% @location.errors.full_messages.each do |msg| %>
            <li class="error"><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="control-group">
        <%= label_tag :search, "Search For Address" %>
        <%= text_field_tag :location_search, nil, class: "span12 search-query", type: "search" %>
      </div>
      <%= render partial: "googlemap" %>
    </div>
  </div>
</fieldset>
<% end %>

<div class="row-fluid">
  <div class="well span12">
    <h4>Images</h4>
    <div id="place_images"></div>
  </div>
</div>