<div class="span11">
  <h3>Listing locations</h3>

  <table class="table table-striped">
    <tr>
      <th>Address</th>
      <th>City</th>
      <th>Postcode</th>
      <th>Country</th>
      <th>Lat</th>
      <th>Lng</th>
      <th>Date</th>
    </tr>

  <% @locations.each do |location| %>
    <tr>
      <td><%= link_to location.address, location %></td>
      <td><%= link_to location.city, location %></td>
      <td><%= location.postcode %></td>
      <td><%= location.country %></td>
      <td><%= location.lat %></td>
      <td><%= location.lng %></td>
      <td><%= location.created_at.to_s(:short) %></td>
    </tr>
  <% end %>
  </table>

  <br />
  <%= link_to 'New Location', new_location_path %>
  <br />

  <div class="pagination">
    <%= paginate @locations %>
  </div>
</div>